$primaryColor: rgb(31, 192, 111);

$primaryBg: #222222;
$secendaryBg: #444444;
$primaryTxtColor: #f5f5f5;

$phone: "only screen and (max-width : 700px)";
$tablet: "only screen and (max-width : 1367px)";
